* {
    box-sizing: border-box;
    font-family: lato, serif;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

.nav {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mediumslateblue;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.502);
}

.nav__logo {
    width: 50px;
}

.nav__items {
    list-style: none;
    display: flex;
    
}

.nav__items > li > a {
    padding: 10px;
    color: #fff;
}

.main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main>h1 {
    margin: 20px;
    font-size: 24px;
}

.footer {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumslateblue;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}