* {
    box-sizing: border-box;
    font-family: lato, serif;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

.nav {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mediumslateblue;
    box-shadow: 0 1px 0 rgb(0 0 0 / 40%);
}

.nav__logo {
    width: 50px;
}

.nav__items {
    list-style: none;
    display: flex;
    
}

.nav__items > li > a {
    padding: 10px;
    color: #fff;
}

.main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > h1 {
    margin: 20px;
    font-size: 24px;
}

.main>ul {
    list-style: none;
}

/*change color of bullet points in a list*/
.main > ul > li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: mediumslateblue; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.main > ul > li {
    margin-bottom: 10px;
}

.footer {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumslateblue;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}